#logo{
    margin-top: 15%;
}
.home{
    background-image: url("./images/h_img.jpg");
    background-size: cover;
    text-align: center;
    height: 600px;
}
#mouse{
    margin-top: 5%;
    margin-bottom: 5%;
}
.home h1{
    color: white;
}
.home h6{
    color: aliceblue;
}
.about{
    text-align: center;
    margin-top: 2%;
}
.services{
   background-image: url("./images/s_image.jpg");
   background-size: cover;
   text-align: center; 
   height: 300px;
}
.services h1 {
    color: white;
    padding: 2%;
}
.services p{
    color: white;
    padding-bottom: 10%;
}
.work{
    text-align: center;
}
.work h1{
    margin-top: 1%;
    margin-bottom: 1%;
}
.work p{
    color: #000;
}
.bold{
    font-weight: bold;
}
.desc{
    display: none;
}
.portfolio{
    text-align: center;
    
}
.img_wrap img{
    padding-left: 2%;
}
.image_wrap{
    position: relative;
    overflow: hidden;
    margin-bottom: 10%;
    
}
.image-desc{
    position: absolute;
    opacity: 0;
    display: none;
    text-align: center;
    transition: opacity .2s visibility .2s;
    border: 2px rgb(137, 137, 197);
    color: black;
    /* Debugging
    font-size: 20px;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    */
}
.img-desc-show{
    visibility: visible;
    opacity: 1;
    background-color: rgb(19, 19, 24);
}
.contacts{
    background-image: url("./images/c_image.jpg");
    background-size: cover;
    text-align: center;
    color: aliceblue;
    margin-top: 5%;
    padding: 5%;
}
.contacts input{
    background: transparent;
    color: white;
}
.contacts textarea{
    background: transparent;
    color: white;
}
.contacts textarea::placeholder, .contacts input::placeholder{
    background: transparent;
    color: aliceblue;
}
.button{
    size: 20px;
}
#message{
    align-self: center;
    margin-left: 1%;
}
.post-message{
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 7px;
    font-weight: bolder;
}
footer{
    text-align: center;
    margin-top: 4%;
    font-weight: bold;
}